In [2]:
metabolomics_negative_file = '/home/adrian/projects/covidthelium/data/FRANCE_PLASMA_Metabolomics_NEG_19042022_IS.csv'
metadata_file = '/home/adrian/projects/covidthelium/data/DATABASE Iceland.xlsx'

In [ ]:
#

In [1]:
import pandas

In [4]:
df = pandas.read_csv(metabolomics_negative_file, sep=',')
df

,Unnamed: 0,mz,mzmin,mzmax,rt,rt(min),IS,IS comment,rtmin,rtmax,...,France_Plasma_270,France_Plasma_271,France_Plasma_272,France_Plasma_273,France_Plasma_274,France_Plasma_275,France_Plasma_276,isotopes,adduct,pcgroup
0,1,55.016764,55.015208,55.019731,254.5270,4.242117,0,0,252.022,256.580,...,2202.609866,4118.298911,2287.185166,1162.164474,2103.138957,1105.501022,934.179575,NaN,NaN,46
1,2,57.032757,57.031443,57.034488,74.9885,1.249808,0,0,64.771,76.913,...,2470.053795,413.910196,3078.361221,3765.359415,4635.781253,3813.919340,2196.784860,NaN,[M-2H]2- 116.077,15
2,3,57.032563,57.031558,57.035333,116.7190,1.945317,0,0,106.671,120.787,...,747.815705,1310.590102,4388.588288,8630.203432,6390.599722,8336.344381,2395.983754,NaN,[M+Cl]- 22.0633 [M-H]- 58.0399,104
3,4,58.026901,58.024875,58.029176,254.2025,4.236708,0,0,251.036,256.729,...,1483.268448,1604.295934,1854.209375,1305.211902,1819.268374,1406.058788,882.139833,NaN,[M-H]- 59.0321,46
4,5,59.011901,59.010453,59.013383,213.2170,3.553617,0,0,209.774,216.245,...,3882.913057,10779.440660,13116.457330,4468.708261,10518.791580,4560.310694,3162.654780,NaN,NaN,766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3572,3573,998.092210,998.082972,998.100040,221.2480,3.687467,0,0,219.614,223.993,...,13358.703630,15461.585010,14598.105510,15430.871430,16196.130120,12522.854100,7990.564631,NaN,NaN,92
3573,3574,998.116207,998.109930,998.127162,221.0365,3.683942,0,0,219.749,223.416,...,13522.601950,11499.162570,12816.090950,15185.530430,17798.678520,12295.655750,8098.131626,NaN,[M+Cl+NaCOOH]- 895.168 [M-H+NaCOOH]- 931.145,92
3574,3575,999.271766,999.262859,999.280086,233.2800,3.888000,0,0,231.113,234.621,...,2302.838196,2202.713676,2854.868894,1758.757829,2162.814235,1414.893074,1653.971051,NaN,NaN,96
3575,3576,999.894982,999.888861,999.906107,244.2930,4.071550,0,0,239.670,247.049,...,4122.224351,1366.144291,3100.604891,3373.350479,3178.283668,2466.502710,1712.549068,NaN,[M+Cl]- 964.937 [M-H]- 1000.91,68
3576,3577,999.917326,999.906426,999.923369,243.8085,4.063475,0,0,238.444,246.116,...,4178.527528,1644.136860,2546.348307,3359.836298,3178.283668,2453.924865,1618.955714,NaN,[M+Cl]- 964.937 [M-H]- 1000.91,68

In [7]:
samples = df.columns.to_list()
samples = [element for element in samples if 'France' in element]
print(len(samples), samples)

117 ['France_Plasma_100', 'France_Plasma_101', 'France_Plasma_102', 'France_Plasma_103', 'France_Plasma_104', 'France_Plasma_105', 'France_Plasma_106', 'France_Plasma_107', 'France_Plasma_108', 'France_Plasma_109', 'France_Plasma_110', 'France_Plasma_111', 'France_Plasma_112', 'France_Plasma_113', 'France_Plasma_114', 'France_Plasma_115', 'France_Plasma_116', 'France_Plasma_117', 'France_Plasma_118', 'France_Plasma_119', 'France_Plasma_120', 'France_Plasma_121', 'France_Plasma_122', 'France_Plasma_123', 'France_Plasma_124', 'France_Plasma_125', 'France_Plasma_126', 'France_Plasma_127', 'France_Plasma_128', 'France_Plasma_129', 'France_Plasma_130', 'France_Plasma_131', 'France_Plasma_132', 'France_Plasma_133', 'France_Plasma_134', 'France_Plasma_135', 'France_Plasma_136', 'France_Plasma_137', 'France_Plasma_138', 'France_Plasma_139', 'France_Plasma_140', 'France_Plasma_141', 'France_Plasma_142', 'France_Plasma_143', 'France_Plasma_144', 'France_Plasma_85', 'France_Plasma_86', 'France_Plasma_87', 'France_Plasma_88', 'France_Plasma_89', 'France_Plasma_90', 'France_Plasma_91', 'France_Plasma_92', 'France_Plasma_93', 'France_Plasma_94', 'France_Plasma_95', 'France_Plasma_96', 'France_Plasma_97', 'France_Plasma_98', 'France_Plasma_99', 'France_Plasma_220', 'France_Plasma_221', 'France_Plasma_222', 'France_Plasma_223', 'France_Plasma_224', 'France_Plasma_225', 'France_Plasma_226', 'France_Plasma_227', 'France_Plasma_228', 'France_Plasma_229', 'France_Plasma_230', 'France_Plasma_231', 'France_Plasma_232', 'France_Plasma_233', 'France_Plasma_234', 'France_Plasma_235', 'France_Plasma_236', 'France_Plasma_237', 'France_Plasma_238', 'France_Plasma_239', 'France_Plasma_240', 'France_Plasma_241', 'France_Plasma_242', 'France_Plasma_243', 'France_Plasma_244', 'France_Plasma_245', 'France_Plasma_246', 'France_Plasma_247', 'France_Plasma_248', 'France_Plasma_249', 'France_Plasma_250', 'France_Plasma_251', 'France_Plasma_252', 'France_Plasma_253', 'France_Plasma_254', 'France_Plasma_255', 'France_Plasma_256', 'France_Plasma_257', 'France_Plasma_258', 'France_Plasma_259', 'France_Plasma_260', 'France_Plasma_261', 'France_Plasma_262', 'France_Plasma_263', 'France_Plasma_264', 'France_Plasma_265', 'France_Plasma_266', 'France_Plasma_267', 'France_Plasma_268', 'France_Plasma_269', 'France_Plasma_270', 'France_Plasma_271', 'France_Plasma_272', 'France_Plasma_273', 'France_Plasma_274', 'France_Plasma_275', 'France_Plasma_276']

In [10]:
metadata = pandas.read_excel(metadata_file, sheet_name='data brut')

In [11]:
metadata

,Number,Initial,RBC,Hb,reticulotcytes,Platelets,Leukocytes,PNN,PNE,PNB,...,respiratory support free days (28 first days),acute kidney failure,KDIGO,RRT,vasopressors,Venous thrombolic event,discharge from ICU within 28 first days,ICU length of stay,discharge from hospital within 28 days,hospital length of stay
0,1,LP,4.76,14.0,25.704,136.0,4.27,3.85,0.00,0.00,...,22.0,0,NaN,0,0,0,1,8,1,17
1,2,SP,4.42,12.9,NaN,846.0,5.50,4.85,0.00,0.01,...,25.0,0,NaN,0,0,0,1,5,1,12
2,3,BL,3.14,9.2,13.502,483.0,6.80,6.15,0.00,0.00,...,0.0,1,2.0,0,1,0,0,dead,0,décès
3,4,LS,3.14,9.1,29.202,264.0,21.50,20.55,0.00,0.04,...,23.0,1,1.0,0,1,0,0,>28,0,>28
4,5,AB,5.24,12.7,38.252,335.0,11.64,10.57,0.00,0.01,...,19.0,0,NaN,0,0,1,1,10,1,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,96,LD,4.68,14.3,44.928,345.0,5.29,4.06,0.00,0.04,...,25.0,0,NaN,0,0,0,1,3,1,7
92,97,PP,4.24,13.4,24.168,374.0,6.60,5.95,0.00,0.01,...,22.0,0,NaN,0,0,0,1,7,1,13
93,98,MS,3.72,12.0,18.600,164.0,4.38,3.40,0.00,0.00,...,25.0,1,3.0,1,1,0,0,>28,0,>28
94,99,ME,5.43,15.2,83.079,562.0,20.26,18.30,0.14,0.15,...,28.0,1,3.0,0,1,1,0,28,0,>28
95,100,FJ,4.62,14.3,32.802,140.0,4.25,3.52,0.00,0.01,...,21.0,0,NaN,0,0,0,1,14,0,>28